.App {
  text-align: center;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  background: rgb(0,0,0);
  background: linear-gradient(340deg, rgba(0,0,0,1) 0%, rgba(41,41,41,1) 73%, #4a4a4c 100%);
  background-attachment: fixed;
}

#root {
  background: rgb(33 33 33 / 50%);
}
